<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="/journal/ui/css/styles.css" />
</head>
<body>

    <div class="wrapper"><div class="recent">
        <!-- <h1>Posts by Date</h1> -->
{% for post in site.categories.general %}
{% capture postDate %}{{ post.date | date: '%m%d%Y' }}{% endcapture %}
        <div class="entry">
            <h2>{{ post.date | date: "%A, %B %e, %Y" }}</h2>
{% for subPost in site.categories.simon %}
{% capture subPostDate %}{{ subPost.date | date: '%m%d%Y' }}{% endcapture %}
            {% if postDate == subPostDate %}
            <p><a href="/journal/simon/#{{ post.slug }}">Entry by Simon</a></p>
            {% endif %}
{% endfor %}
{% for subPost in site.categories.jack %}
{% capture subPostDate %}{{ subPost.date | date: '%m%d%Y' }}{% endcapture %}
            {% if postDate == subPostDate %}
            <p><a href="/journal/jack/#{{ post.slug }}">Entry by Jack</a></p>
            {% endif %}
{% endfor %}
            <h3 id="{{ post.slug }}">{{ post.title }}</h3>
        {{ post.content }}
        </div>
{% endfor %}
    </div></div>

</body>
</html>