<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="/journal/ui/css/styles.css" />
</head>
<body>

    <div class="wrapper"><div class="recent">
        <!-- <h1>Posts by Date</h1> -->
{% assign exercise_total = 0 %}
{% assign exercise_days = 0 %}
{% assign music_total = 0 %}
{% assign music_days = 0 %}
{% assign books_total = 0 %}
{% assign field_trips = 0 %}

{% for post in site.categories.jack reversed %}
{% assign exercise_total = exercise_total | plus: post.exercise %}
{% if post.exercise > 0 %}{% assign exercise_days = exercise_days | plus: 1 %}{% endif %}
{% assign music_total = music_total | plus: post.music %}
{% if post.music > 0 %}{% assign music_days = music_days | plus: 1 %}{% endif %}
{% assign books_total = books_total | plus: post.books %}
{% assign field_trips = field_trips | plus: post.field_trip %}
{% endfor %}

{% for post in site.categories.jack %}
{% capture postDate %}{{ post.date | date: '%m%d%Y' }}{% endcapture %}
        <div class="entry">
            <h2>{{ post.date | date: "%A, %B %e, %Y" }}</h2>
            {% for subPost in site.categories.general %}
            {% capture subPostDate %}{{ subPost.date | date: '%m%d%Y' }}{% endcapture %}
                        {% if postDate == subPostDate %}
                        <p><a href="/journal/#{{ post.slug }}">Photos &amp; more</a></p>
                        {% endif %}
            {% endfor %}
            <h3 id="{{ post.slug }}">{{ post.title }} <span>by Jack</span></h3>
            <ul>
                <li><b>Exercise:</b> <i class="today">{{ post.exercise }}m</i> <b>Total:</b> <i>{{ exercise_total | divided_by:60 }}h {{ exercise_total | modulo:60 }}m over {{ exercise_days }} day{% if exercise_days != 1 %}s{% endif %}.</i></li>
                <li><b>Music:</b> <i class="today">{{ post.music }}m</i> <b>Total:</b> <i>{{ music_total | divided_by:60 }}h {{ music_total | modulo:60 }}m over {{ music_days }} day{% if music_days != 1 %}s{% endif %}.</i></li>
                <li><b>Books Finished:</b> <i class="today">{{ post.books }}</i> <b>Total:</b> <i>{{ books_total }} books</i></li>
                <li><b>Field Trip:</b> <i class="today">{% if post.field_trip > 0 %}Yes{% else %}No{% endif %}</i> <b>Total:</b> <i>{{ field_trips }}</i></li>
            </ul>
            {{ post.content }}
        </div>
{% endfor %}
    </div></div>

</body>
</html>