body {
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1280px;
}
body > .wrapper > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* float: left; */
    padding: 20px;
    /* width: 50%; */
}
body > .wrapper > div:nth-of-type(1) {
    /* width: 60%; */
}
body > .wrapper > div:nth-of-type(2) {
    /* width: 40%; */
}
@media all and (max-width: 1200px) {
body > .wrapper > div:nth-of-type(1) {
    /* width: 70%; */
}
body > .wrapper > div:nth-of-type(2) {
    /* width: 30%; */
}
}
@media all and (max-width: 1000px) {
body > .wrapper > div:nth-of-type(1) {
    float: none;
    width: 100%;
}
body > .wrapper > div:nth-of-type(1) {
    float: none;
    width: 100%;
}
}
.entry {
    margin-bottom: 3em;
}
.entry > div {
    background: #efefef;
    font-size: 0;
    line-height: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
@media all and (max-width: 800px) {
.entry > div { position:relative;padding-bottom:56.25%;padding-top:25px;height:0 }
.entry > div iframe { position:absolute;top:0;left:0;width:100%;height:100% }
.entry > div { position:relative;padding-bottom:56.25%;padding-top:25px;height:0 }
.entry > div video { position:absolute;top:0;left:0;width:100%;height:100% }
}
h3 {
    margin-bottom: .5em;
}
.recent p,
.recent li,
.recent blockquote {
    line-height: 1.5em;
    margin-top: 0;
}
a {
    color: #0074d9;
    text-decoration: none;
}
a:visited {
    color: #1e456e;
}
figure {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}
figure:not(:last-child) {
    margin-bottom: 3em;
}
    figure img {
        display: block;
        height: auto;
        /* margin-right: auto; */
        margin-bottom: 10px;
        /* margin-left: auto; */
        max-width: 720px;
        width: 100%;
    }
blockquote {
    border-left: 2px solid #ededed;
    color: #444;
    font-style: italic;
    margin-left: 0;
    padding-top: 2px;
    padding-left: 20px;
    padding-bottom: 2px;
}
ul li {
    margin-bottom: .125em;
}

i.today {
    background: #eee;
    display: inline-block;
    padding-right: 2px;
    padding-left: 2px;
    margin-right: 4px;
}

h3 > span {
    font-size: .875em;
    font-style: italic;
    font-weight: normal;
}

sup, .footnote {
    font-size: .75em;
}
sup {
    top: -.125em;
    position: relative;
}